<link rel="import" href="../bower_components/polymer/polymer-element.html" />
<!--<link rel="import" href="../bower_components/app-storage/app-localstorage/app-localstorage-document.html" />-->
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html" />
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html" />
<link rel="import" href="my-home.html" />
<link rel="import" href="my-login-app.html" />

<dom-module id="my-app">
    <template>
      <style>
        :host {
          display: block;
          height: 100%;
        }
  
        paper-dialog {
          text-align: center;
        }
      </style>
  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous" />
      <!--
      <app-localstorage-document session-only key="session" data="{{session}}" />
      <app-localstorage-document session-only key="logged" data="{{logged}}" />
      <app-localstorage-document session-only key="parametros" data="{{parametros}}" />
      -->
      <template is="dom-if" if="{{!logged}}">
        <my-login-app cttes="[[cttes]]" parametros="[[parametros]]" loading="{{loading}}" on-login-success="onLoginSuccess"
          on-login-fail="onLoginFail"></my-login-app>
      </template>
  
      <template is="dom-if" if="{{logged}}">
        <my-home cttes="[[cttes]]" parametros="[[parametros]]" session="[[session]]" loading="{{loading}}" on-logout="onLogout"
          page="[[cttes.PATH_PAGE_CLIENTES]]"></my-home>
      </template>
  
      <paper-dialog opened="[[loading]]" modal>
        <div>
          <paper-spinner alt="Cargando" active></paper-spinner>
          <h6>Cargando...</h6>
        </div>
      </paper-dialog>
  
      <iron-ajax auto url="[[cttes.URL_BACKEND]]/clientes" last-response="{{clientes}}" handle-as="json" loading="{{loading}}" />
  
    </template>
  
    <script>
 
      class MyApp extends Polymer.Element {
        static get is() { return 'my-app'; }
  
        static get properties() {
          return {
            cttes: {
              type: Object,
              value: function () {
                return {
                  PATH_PAGE_CLIENTES: 'view1',
                  PATH_PAGE_LOGIN: "",
                  URL_BACKEND: 'https://techu-back.herokuapp.com/api',
                  irAPagina(pagina) {
                    window.history.pushState({}, null, '/techu-front' + (pagina ? "/" + pagina : ""));
                    window.dispatchEvent(new CustomEvent('location-changed'));
                  }
                };
              }
            },
            logged: {
              type: Boolean,
              value: false
            },
            session: {
              type: Object,
              notify: true,
              value: {
                token: "",
                user: {}
              }
            },
            parametros: {
              type: Object
            },
            loading: {
              type: Boolean,
              value: false,
              notify: true
            }
          };
        }
  
        static get observers() {
          return [
            '_isSessionChanged(session)'
          ]
        }
  
        _isSessionChanged(value) {
        }
  
        onLoginSuccess(event, detail) {
          this.logged = true;
          this.session = { token: detail.data.token, user: detail.data };
        }
  
        onLoginFail(event, detail) {
          this.logged = false;
          this.session = { token: "", user: {} };
        }
  
        onLogout(event) {
          this.logged = false;
          this.session = { token: "", user: {} };
          this.cttes.irAPagina(this.cttes.PATH_PAGE_LOGIN);
        }
      }
  
      window.customElements.define(MyApp.is, MyApp);
    </script>
  </dom-module>