<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="my-icons.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="lazy-import" href="my-view1.html">
<link rel="lazy-import" href="my-view2.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-view404.html">
<link rel="lazy-import" href="my-gestor-clientes-mlab.html">
<link rel="import" href="my-login-app.html" />

<dom-module id="my-home">
  <template>
    <style>
      :host {
        --app-primary-color: #041b5c;
        --app-secondary-color: black;

        display: block;
        background-color: #E3F2FD;
        height: 100%;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header-layout {
                background-color: rgb(217, 230, 248);
            }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      app-header-layout {
                --paper-icon-button-ink-color: red;
            }

      .drawer-list {
        margin: 0 20px;
        background: #4285f4;
                margin: 0px;
                --iron-icon-width: 15px;
      }

      .drawer-list a {
        border-bottom: #fff 0.5px solid;
                border-left: #62bed5 12px solid;
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 35px;
                background-color: #BBDEFB;
                font-size: 14px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
        background-color: #E3F2FD;
      }

      .app-toolbar-header-1 {
                background-color: #fff;
                margin: 0;
                padding: 0;
                height: 52px;
            }

            .app-toolbar-header-2 {
                height: 50px;
            }

            .menuDiv {
                background-color: #041b5c;
                border-top: #fff 1px solid;
                border-bottom: #fff 0.5px solid;
                color: white;
                padding: 5px;
                text-align: center;
                font-weight: bold;
                font-size: 15px;
            }

            .userDiv {
                display: block;
                font-size: 14px;
                text-align: center;
                font-weight: 600;
                color: green;
                padding: 2px;
                border-bottom: #4285f4 1px solid;
                --iron-icon-fill-color: green;
            }

            .slideHeaderDiv {
               /* background: url("../assets/images/barra_bbva.png") no-repeat;
                */
                background-size: contain;
                padding-left: 13px;
                text-align: center;
            }

            .btnSalir {
                background: red;
                color: white;
                height: 30px;
                font-size: 15px;
                text-transform: capitalize;
                width: 90%;
                margin-top: 10px;
                --iron-icon-fill-color: white;
            }

            .foto1 {   width: 200px; height: 80px;}

    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}" responsive-Width="900px">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
          <div class="slideHeaderDiv">
            
              <img src="assets/images/bbva-logo.png" class="foto1"  />
           
              <!--
              <div class="userDiv">
                  <iron-icon icon="my-icons:account-circle"></iron-icon> noel
              </div>-->
          </div>

        <div class="menuDiv">Menú</div>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <a name="view1" href="[[rootPath]]view1">
              <iron-icon icon="my-icons:pagos"></iron-icon> Mis Cuentas
          </a>
          <a name="view2" href="[[rootPath]]view2">
              <iron-icon icon="my-icons:send"></iron-icon>  Pagos
          </a>
          <a name="view3" href="[[rootPath]]view3">View Three</a>
        </iron-selector>
        <div style="text-align: center">
            <paper-button class="btnSalir" on-click="onClickLogout"> Salir &nbsp;
              <iron-icon icon="my-icons:exit-to-app"></iron-icon>
            </paper-button>
        </div>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

          <app-header slot="header" condenses reveals effects="waterfall">
              <app-toolbar class="app-toolbar-header-2">
                  <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                  <div main-title>Banca por Internet</div>
                  <paper-icon-button icon="my-icons:refresh" on-click="onClickRefresh"></paper-icon-button>
                  <paper-icon-button icon="my-icons:exit-to-app" on-click="onClickLogout"></paper-icon-button>
              </app-toolbar>
          </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <my-view1 name="view1" id="view1" 
                        loading="{{loading}}"></my-view1>
          <my-view2 name="view2"></my-view2>
          <my-view3 name="view3"></my-view3>
          <my-view404 name="view404"></my-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    // Gesture events like tap and track generated from touch will not be
    // preventable, allowing for better scrolling performance.
    Polymer.setPassiveTouchGestures(true);

    class MyApp extends Polymer.Element {
      static get is() { return 'my-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: Object,
          // This shouldn't be neccessary, but the Analyzer isn't picking up
          // Polymer.Element#rootPath
          rootPath: String,
          loading: {
                        notify: true
                    }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      _routePageChanged(page) {
        // If no page was found in the route data, page will be an empty string.
        // Default to 'view1' in that case.
        this.page = page || 'view1';

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }

      _pageChanged(page) {
        // Load page import on demand. Show 404 page if fails
        const resolvedPageUrl = this.resolveUrl('my-' + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);

            let webComponenet = this.$[page];
                if (webComponenet && webComponenet.show && typeof webComponenet.show === 'function') {
                    webComponenet.show();
                }   
      }

      _showPage404() {
        this.page = 'view404';
      }
    }

    window.customElements.define(MyApp.is, MyApp);
  </script>
</dom-module>
