<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-gestor-clientes-mlab">
  <template>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

     <div class="container">
       <div class="row">
         <h1>GESTOR DE CLIENTES</h1>
         <button on-click="obtenerClientes" class="btn btn-outline-primary col-lg-4 col-xs-12" type="button" name="button">Obtener Cliente</button>
       </div>

       <div class="row">

       <table class="table table-striped table-bordered  ">
            <tbody>
            <template is="dom-repeat" items="{{clientes.clienteDB}}">
              <tr>
                  <td>[[item.nombres]]</td>
                  <td>[[item.apellidos]]</td>
              </tr>
            </template>
            </tbody>
        </table>

       </div>
     </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientesmLabApp extends Polymer.Element {
      static get is() { return 'my-gestor-clientes-mlab'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }

     obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","https://techu-back.herokuapp.com/api/clientes",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.clientes = JSON.parse(request.responseText);
        console.log('DATA RECUPERADA : ' + this.clientes.clienteDB.length);
      }



    }

    window.customElements.define(GestorClientesmLabApp.is, GestorClientesmLabApp);
  </script>
</dom-module>
