<link rel="import" href="../bower_components/polymer/polymer-element.html" />
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html" />
<link rel="import" href="../bower_components/iron-pages/iron-pages.html" />

<dom-module id="my-login-app">
    <template>

        <style>
            :host { display: block; width: 100%; height: 100%; padding-top: 10%;}
            .card { margin: 0 auto; float: none; margin-bottom: 10px; }
            .btn { padding: 1em 1em 1em 1em; text-align: center;}
            .alert { margin: 0 auto; float: none;}
            .imagen { display: block; width: 318px; height: 70px;}
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous" />

        <div class="card" style="width: 20rem;">
            <img src="assets/images/bbva-login.jpeg" class="imagen" alt="BBVA">
            <div class="card-body">
                <div class="form-group">
                    <select class="form-control" id="tipoDocumento" disabled value="{{tipoDocumento::input}}">
                            <option value="DNI">DNI</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="numeroDocumento" placeholder="Numero Documento" value="{{numeroDocumento::input}}">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="password" placeholder="Contrasena" value="{{password::input}}">
                </div>
                <button class="btn btn-primary btn-block" on-click="doLogin">Ingresar</button>
            </div>
        </div>

        <template is="dom-if" if="[[message]]">
            <div class="alert alert-danger" style="width: 30rem;" role="alert"> [[message]] </div>
        </template>

        <iron-ajax id="ironAjaxLogin" url="https://techu-back.herokuapp.com/api/clientes/login" method="post" content-type="application/json"
            on-response="doLoginCallback" on-error="doLoginErrorCallback" handle-as="json" loading="{{loading}}" />
    </template>

    <script>

        class LoginApp extends Polymer.Element {
            static get is() {
                return 'my-login-app'
            }

            static get properties() {
                return {
                    tipoDocumento: {
                        type: String,
                        notify: true,
                        value: "DNI"
                    },
                    numeroDocumento: {
                        type: String,
                        notify: true,
                        value: '12345678'
                    },
                    password: {
                        type: String,
                        notify: true,
                        value: '123456'
                    },
                    message: {
                        type: String,
                        value: "",
                        notify: true
                    },
                    loading: {
                        notify: true
                    }
                }
            }

            limpiar() {
                this.tipoDocumento = "DNI";
                this.numeroDocumento = "";
                this.password = "";
                this.message = "";
            }

            doLogin() {
                this.$.ironAjaxLogin.body = {
                    tipoDocumento: this.tipoDocumento,
                    numeroDocumento: this.numeroDocumento,
                    password: this.password
                };

                this.$.ironAjaxLogin.generateRequest();
            }

            doLoginCallback(event, request) {
                this.dispatchEvent(new CustomEvent('login-success', { detail: { result: 'OK', data: request.response } }));
                sessionStorage.setItem('user', JSON.stringify(request.response));
                this.limpiar();
            }

            doLoginErrorCallback(event, error) { 
                if (error.request.response instanceof Array) {
                    this.message = error.request.response[0].msg;
                    this.dispatchEvent(new CustomEvent('login-fail', { detail: { result: 'ERROR', message: this.msjError } }));
                } else if (error.request.response.message) {
                    this.message = error.request.response.message;
                    this.dispatchEvent(new CustomEvent('login-fail', { detail: { result: 'ERROR', message: error.request.response.message } }));
                } else {
                    this.message = 'Ocurrio un problema al realizar la operacion';
                    this.dispatchEvent(new CustomEvent('login-fail', { detail: { result: 'ERROR', message: error.request.response.message } }));
                }
            }

            doActivarCuenta(event){

            }
        }

        window.customElements.define(LoginApp.is, LoginApp);

    </script>
</dom-module>