<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">2</div>
      <div class="row">
          <h1>CONSULTA DE CUENTAS</h1>
          <button on-click="obtenerClientes" class="btn btn-outline-primary col-lg-4 col-xs-12" type="button" name="button">Obtener Cliente</button>
      </div>

      
      <table class="table table-striped table-bordered  ">
          <tbody>
            <tbody>
              <th>numero de cuenta</th>
              <th>tipo de cuenta</th>
            </tbody>
          <template is="dom-repeat" items="{{cuentas.cuentaDB}}">
            <tr>
                <td>[[item.numeroCuenta]]</td>
                <td>[[item.tipoCuenta]]</td>
            </tr>
          </template>
          </tbody>
      </table>
      
    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }


      static get properties() {
        return {
          cuentas: {
            type: Array,
            notify: true
          }
        };
      }

     obtenerClientes(){
        var request = new XMLHttpRequest();
        request.open("GET","http://balanceador-798602622.us-east-2.elb.amazonaws.com/api/cuentas",false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.cuentas = JSON.parse(request.responseText);
        console.log('DATA RECUPERADA : ' + this.cuentas.cuentaDB.length);
      }



    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
