<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">      
      <div class="container-fluid">
          
            <div class="card col-sm-12">
                <!--
                  <button on-click="obtenerCuentas" class="btn btn-outline-primary" type="button" name="button">Obtener Cuentas</button>
                  -->
                <h5 class="card-title">Cuentas</h5>
                  <table class="table table-striped table-bordered table-hover">
                      <thead class="thead-light">
                          <tr>
                            <th scope="col">Numero cuenta</th>
                            <th scope="col">Tipo Cuenta</th>
                            <th scope="col">Moneda</th>
                            <th scope="col">Saldo</th>
                          </tr>
                      </thead>
                      <tbody>
                      <template is="dom-repeat" items="{{cuentas.cuentaDB}}">
                        <tr>
                            <td><a  href="javascript:void(0)" on-click="obtenerPorNumeroCuentas" >[[item.numeroCuenta]]</a></td>
                            <td>[[item.tipoCuenta]]</td>
                            <td>[[item.moneda]]</td>
                            <td>[[item.saldo.$numberDecimal]]</td>
                        </tr>
                      </template>
                      </tbody>
                  </table>
                 
            </div>


            <div class="card col-sm-12" >
                <div class="card-body">
                  <h5 class="card-title">movimientos</h5>
                  <table class="table table-striped table-bordered  ">
                      <thead class="thead-light">
                          <tr>
                            <th scope="col">Tipo movimiento</th>
                            <th scope="col">Importe</th>
                            <th scope="col">Fecha</th>
                          </tr>
                      </thead>
                      <tbody>
                      <template is="dom-repeat" items="{{movements.cuenta.movimientos}}">
                        <tr>
                            <td>[[item.tipoMovimiento]]</td>
                            <td>[[item.importe.$numberDecimal]]</td>
                            <td>[[item.fecha]]</td>
                        </tr>
                      </template>
                      </tbody>
                  </table>
                </div>
              </div>
         

        </div>
      
    </div>
  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }


      static get properties() {
        return {
          cuentas: {
            type: Array,
            notify: true
          },
          movements: {
            type: Array,
            value:[]
          },
          user: {
            type: Object,
            value: {}
          }
        };
      }

      ready() {
        super.ready();
        this.set('user', JSON.parse(sessionStorage.getItem('user')));
        this.obtenerCuentas()
      }
    
      obtenerCuentas(){
        var request = new XMLHttpRequest();
        let url =  "https://techu-back.herokuapp.com/api/cuentas/numeroDocumento/".concat(this.user.cliente.numeroDocumento);
        request.open("GET",url,false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        let data = JSON.parse(request.responseText);
        this.set('cuentas', {});
        this.set('cuentas.cuentaDB', data.cuenta);
        console.log('DATA RECUPERADA : ' + this.cuentas.cuentaDB.length);
      }

      
      obtenerPorNumeroCuentas(evt){
        console.info('dato', evt);
      //  var item = event.target.dataset.item;
        let cta =  evt.model.__data.item.numeroCuenta;
        var request = new XMLHttpRequest();
        request.open("GET","https://techu-back.herokuapp.com/api/cuentas/numeroCuenta/" + cta, false);
        request.setRequestHeader("Accept","application/json");
        request.send();
        this.movements = JSON.parse(request.responseText);
        console.info(this.movements);
        console.log('DATA RECUPERADA : ' + this.movements.length);
      }

    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
